<launch>

<!-- <node name="map_server" pkg="map_server" type="map_server" args="/home/labsea6/catkin_ws/maps/my_map8.yaml"/> -->

 <arg name="map_1" default="/map"/>
 <node name="map_saver1" pkg="map_server" type="map_saver" args="-f $(find hector_slam_launch)/launch/map_1">
        <remap from="/map" to="$(arg map_1)"/>


<!-- <node name="map_server" pkg="map_server" type="map_server" args="/home/labsea6/catkin_ws/maps/my_map8.yaml"/> -->
  </node>

</launch>
